<footer class="footer">
  <span class="copy">
    {{#if @site.secondary_navigation}}
      {{navigation type="secondary"}}
    {{else}}
      {{@site.title}} &copy; {{date format='YYYY'}} — all right reserved. 
      {{t "Theme" }} <a href="https://github.com/sulakin/beyond">Beyond</a> published with <a href="https://ghost.org">Ghost</a>.
    {{/if}}
  </span>
</footer>