<header class="header">
  {{#if @site.logo}}
    <a href="{{@site.url}}" title="{{t "Home"}}" class="logo">
      <img src="{{@site.logo}}" alt="{{t "Logo"}}" />
    </a>
  {{else if @site.title}}
    <a href="{{@site.url}}" title="{{t "Home"}}" class="logo">
      {{@site.title}}
    </a>
  {{/if}}

  {{navigation}}

  <ul>
    {{#if @site.twitter}}
      <li>
        <a href="{{twitter_url}}" 
          title="Twitter" 
          title="{{@site.twitter}}" 
          target="_blank"
        >
          {{> "icons/twitter"}}
        </a>
      </li>
    {{/if}}

    {{#if @site.facebook}}
      <li>
        <a href="{{facebook_url}}"
          title="Facebook" 
          title="{{@site.facebook}}" 
          target="_blank"
        >
          {{> "icons/facebook"}}
        </a>
      </li>
    {{/if}}

    <li>
      <a href="{{@site.url}}/rss/" title="RSS" target="_blank">
        {{> "icons/rss"}}
      </a>
    </li>
    <!--
      <li class="search">
        <a title="{{t "Search"}}">
          {{> "icons/search"}}
        </a>
      </li>
    -->
  </ul>

  <ul>
    {{#if @labs.members}}
      <li><a class="subscribe__button" href="#subscribe">Subscribe</a></li>
    {{/if}}
  </ul>

  <!--
    <li><a href="" class="signin">Log in</a></li>
    <li><a href="" class="signup">Sign up</a></li>
    <li>
      <span>
        {{> "icons/moon"}}
        {{> "icons/sun"}}
      </span>
    </li>
  -->
  </header>