<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Styles --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}   
  {{ghost_head}}
</head>

<body class="{{body_class}}">
  <div class="header">
    <nav>
        {{#if @site.logo}}
          <span class="logo">
            <a href="{{@site.url}}" title="{{t "Home"}}">
              <img src="{{@site.logo}}" alt="{{t "Logo"}}" />
            </a>
          </span>
        {{/if}}

        {{navigation}}

        <ul>
          {{#if @site.twitter}}
            <li>
              <a href="{{twitter_url}}" 
                title="Twitter" 
                title="{{@site.twitter}}" 
                target="_blank">Twitter</a>
            </li>
          {{/if}}

          {{#if @site.facebook}}
            <li>
              <a href="{{facebook_url}}"
                title="Facebook" 
                title="{{@site.facebook}}" 
                target="_blank">Facebook</a>
            </li>
          {{/if}}

          <li>
            <a href="{{@site.url}}/rss/" title="RSS" target="_blank">RSS</a>
          </li>
        </ul>
    </nav>
  </div>

  <section>
    {{{body}}}

    <div class="footer">
      <nav>
        {{#if @site.secondary_navigation}}
          {{navigation type="secondary"}}
        {{else}}
          <span>{{@site.title}} &copy; {{date format='YYYY'}}</span>
        {{/if}}
        <span>
          {{t "Published with"}} 
          <a href="https://ghost.org">Ghost</a> 
          &bull; {{t "Theme" }} 
          <a href="https://github.com/sulakin/beyond">Beyond</a>
        </span>
      </nav>
    </div>
  </section>

  {{!-- Load basic scripts --}}
  <script type="text/javascript" src="{{asset "js/script.js"}}"></script>

  {{!-- Load scripts from other template files --}}
  {{{block "scripts"}}}

  {{ghost_foot}}
</body>
</html>
