<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Styles --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}
</head>

<body class="{{body_class}}">
  {{> header}}

  <main class="container">
    {{{body}}}
  </main>

  {{!-- The footer --}}
  {{> footer}}

  {{#if @labs.members}}
    <div class="subscribe-success-message">
      <a class="subscribe-close" href="javascript:;"></a>
      You've successfully subscribed to {{@site.title}}!
    </div>

    <div id="subscribe" class="subscribe-overlay">
      <a class="subscribe-close-overlay" href="#"></a>
      <a class="subscribe-close-button" href="#"></a>
      <div class="subscribe-overlay-content">
        {{#if @site.logo}}
            <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
        {{/if}}
        <div class="subscribe-form">
          <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
          <p class="subscribe-overlay-description">Stay up to date! Get all the latest & greatest posts delivered straight to your inbox</p>
          <form data-members-form="subscribe">
            <div class="form-group">
              <input 
                class="subscribe-email" 
                data-members-email 
                placeholder="youremail@example.com"
                autocomplete="false"
              />
              <button class="button primary" type="submit">
                <span class="button-content">Subscribe</span>
                <span class="button-loader">
                  <svg 
                    version="1.1" 
                    id="loader-1" 
                    xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" 
                    x="0px"
                    y="0px" 
                    width="40px" 
                    height="40px" 
                    viewBox="0 0 40 40" 
                    enable-background="new 0 0 40 40" 
                    xml:space="preserve"
                  >
                    <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                    <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z">
                      <animateTransform 
                        attributeType="xml" 
                        attributeName="transform" 
                        type="rotate" 
                        from="0 20 20" 
                        to="360 20 20" 
                        dur="0.5s" 
                        repeatCount="indefinite" 
                      />
                    </path>
                  </svg>
                </span>
              </button>
            </div>
            <div class="message-success">
              <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
            </div>
            <div class="message-error">
              Please enter a valid email address!
            </div>
          </form>
        </div>
      </div>
    </div>
  {{/if}}

  {{!-- Load basic scripts --}}
  <script type="text/javascript" src="{{asset "js/bundle.js"}}"></script>

  {{!-- Load scripts from other template files --}}
  {{{block "scripts"}}}

  {{ghost_foot}}
</body>
</html>
